<div class="form">
  <div class="container">
    <div class="row">
        <h3> Event </h3>
          <%= simple_form_for(@event) do |f| %>
            <div class="form-inputs">
              <%= f.select :category, Event::CATEGORIES, prompt: " Category ? " %>
              <%= f.input :name, as: :text, :input_html => {:style => 'width: 100%', :rows => 3} %>
              <%= f.input :date %>
              <%= f.input :localisation %>
              <%= f.input :information %>
              <%= f.input :photo %>
            </div>
            <div class="form-actions">
              <%= f.submit %>
            </div>
          <% end %>
    </div>
  </div>
</div>




