<div class="page hidden-xs">


  <div class= "row">
    <% @infos.each do |info| %>
    <div class= 'col-12'>
      <% if current_user %>
       <p><%= link_to "delete |", info_path(info), method: :delete, class:"link"%> <%= link_to " update", edit_info_path(info), class:"link"%></p>
      <% end %></p>
      <p id="info-name"><%= info.name %></p>
      <p id="info-localisation"><%= info.localisation%>
      <p id="info-date"><%= info.date%></p>
      <p id="info-commentary"><%= info.commentary%></p>
      <p> _ </p>
    </div>

    <% end %>

</div>


</div>



