<div class="page hidden-xs">



    <% @infos.each do |info| %>
      <% if current_user %>
       <p><%= link_to "delete |", info_path(info), method: :delete, class:"link"%> <%= link_to " update", edit_info_path(info), class:"link"%></p>
      <% end %></p>
      <p id="info-name"><%= info.name %></p>
      <p id="info-localisation"><%= info.localisation%>
      <p id="info-date"><%= info.date%></p>
      <p id="info-commentary"><%= info.commentary%></p>
      <p> _ </p>


    <% end %>




</div>
