<div class="infos-container-xs">

    <div class="infos-presentation-xs">
      <div class="infos-presentation-title-xs">
         <p>-</p><p>EXPOSITIONS </p><p>-</p>

      </div>
      <div class="infos-content-xs">
        <% @infos= Info.where(category: "SHOWING") %>
        <%= render 'shared/infos/infos_category_content_xs' %>

      </div>
    </div>

    <div class="infos-presentation-xs">
      <div class="infos-presentation-title-xs">
        <p>-</p><p>RÉSIDENCES </p><p>-</p>
      </div>
      <div class="infos-content-xs">
        <% @infos= Info.where(category: "RESIDENCE") %>
        <%= render 'shared/infos/infos_category_content_xs' %>
      </div>
    </div>

     <div class="infos-presentation-xs">
      <div class="infos-presentation-title-xs">
        <p>-</p><p>ENSEIGNEMENT</p><p>-</p>
      </div>
      <div class="infos-content-xs">
        <% @infos= Info.where(category: "TEACHING") %>
        <%= render 'shared/infos/infos_category_content_xs' %>
      </div>
    </div>

    <div class="infos-presentation-xs">
      <div class="infos-presentation-title-xs" id="infos-presentation-title-sceno-xs">
           <p>-</p><p>SCÉNOGRAPHIES & INSTALLATIONS</p><p>-</p>
      </div>
      <div class="infos-content-xs">
        <% @infos= Info.where(category: "SCENOGRAPHY") %>
        <%= render 'shared/infos/infos_category_content_xs' %>
      </div>
    </div>

     <div class="infos-presentation-xs">
      <div class="infos-presentation-title-xs" >
             <p>- PRIX & BOURSES -</p>
      </div>
      <div class="infos-content-xs">
        <% @infos= Info.where(category: "PRIZE") %>
        <%= render 'shared/infos/infos_category_content_xs' %>
      </div>
    </div>

     <div class="infos-presentation-xs">
      <div class="infos-presentation-title-xs">
        <p>-</p><p>MÉDIAS</p><p>-</p>
      </div>
      <div class="infos-content-xs">
        <% @infos= Info.where(category: "MEDIA") %>
        <%= render 'shared/infos/infos_category_content_xs' %>
      </div>
    </div>


</div>


